body{
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;    
}
.panel{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container{
    margin: 2.5px;
    padding: 5px;
    width: 80vw;

    background-color: #ffffff;
    font-size: x-large;
    text-align: center;
    justify-content: center;
    display:flex;
    align-content: center;

      
}
.result{
    display: flex;
    background-color: #ffffff;
    margin: 2.5px;
    padding: 5px;
    width:80vw;
    justify-content: center;
    text-align: center;
    font-size: 50px;
      
}
.option-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin: 2.5px;
    padding: 5px;
    width: 80vw;

    background-color: #ffffff;   
    align-items: center;

        
}
.option{    
    padding: 10px;

    min-width: 120px;

    min-height: 70px;
    font-size: larger;
    background-color: rgb(172, 198, 255);
    border-radius: 25%;
}
.option:hover{
    background-color: rgb(0, 94, 255);
}
.navigation{
    width: 80vw;

    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color:#ffffff;
    flex-wrap: wrap;
    align-content: center;

}
  
.startBtn,.next{
    width:30vw;
    min-width: 115px;
    height: 8vh;
    padding: 5px;
    font-size: larger;
    border-radius: 25%;
}
.startBtn{
    
    background-color: #7398ff;
}
.next{
    color: white;
    background-color: #ff5c5c;
}

.highscore a{
    text-decoration:none;
    color: black;
}

.highscore:hover a{
    font-weight: bold;
    color: blue;
}

.highscore-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

#scores-container h1{
    display: flex;
    justify-content: center;
}

#highscores{
    display: flex;
    justify-content: center;
}